.product-item{
    margin-top: 130px;
}
.product-info{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.product-info img{
    width: 40%;
}
.product-info .info{
    width: 40%;
}
.btn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
button{
    width: 20%;
    padding: 1%;
    background-color:skyblue;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}
a{
    color: black;
}
.share_btns{
    width: 30%;
    display: flex;
    justify-content:space-evenly;
}
.share_btns button{
    width: 30%;
}
.button a{
    text-decoration: none;
    font-size: 110%;
}
