.cart{
    width: 70%;
    margin: 20px auto;
    display: grid;
}
.cart h2{
    text-align: center;
}
.clear-btn{
    color: rgb(173, 1, 1);
}
.clear-btn:hover{
    cursor: pointer;
}
.cart-item{
    border: 1px solid black;
    padding: 0px 3%;
    margin: 2%;
}