.todo{
    display: flex;
    justify-content:space-around;
    margin-bottom: 20px;
}
.done .content{
    text-decoration: line-through;
}
form{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}